body {
  background-color: #f5f5f7;
}
header {
  background-color: #ffffff;
  margin-bottom: 4px;
}
header nav .container .re {
  width: 150px;
  height: 50%;
  float: left;
  padding-top: 30px;
  line-height: 35px;
}
header nav .container .re a {
  color: #93e5c1;
  display: inline-block;
  float: left;
}
header .container .nav-l {
  width: 300px;
}
header .container .nav-r {
  width: 870px;
}
header nav .container .re span {
  display: inline-block;
  float: left;
  height: 32px;
  width: 32px;
}
section .container .my-left {
  width: 135px;
  height: 955px;
  background-color: #8b8b8b;
  float: left;
  -moz-box-shadow: 6px 0px 5px #ccfbee;
  -webkit-box-shadow: 6px 0px 5px #ccfbee;
  box-shadow: 6px 0px 5px #ccfbee;
}
section .container .my-left .one {
  height: 150px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b2b2b2;
}
section .container .my-left .one img {
  margin-bottom: 20px;
  width: 74px;
  height: 74px;
  display: inline-block;
  margin-top: 28px;
}
section .container .my-left .one p {
  font-size: 16px;
  color: #FFF;
  padding-bottom: 2px;
  border-bottom: 1px solid #706f6f;
}
section .container .my-left .two {
  width: 100%;
}
section .container .my-left .two ul {
  margin-top: 10px;
}
section .container .my-left .two ul .on a {
  background-color: #93e5c1;
}
section .container .my-left .two ul li {
  width: 100%;
  height: 46px;
}
section .container .my-left .two ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 46px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
section .container .my-left .two ul li a:hover {
  background-color: #a9eacd;
}
section .container .my-right {
  width: 1035px;
  float: left;
}
section .container .my-right .tp {
  height: 60px;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
section .container .my-right .tp > a {
  width: 93px;
  height: 30px;
  font-size: 19px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  text-decoration: none;
  color: #a2a2a2;
}
section .container .my-right .tp > a.on {
  color: #a9eacd;
  border-bottom: 1px solid #a9eacd;
  text-align: center;
}
section .container .my-right .tp > a:hover {
  border-bottom: 1px solid #a9eacd;
}
section .container .my-right .tp .add {
  width: 120px;
  height: 100%;
  float: right;
  text-align: center;
}
section .container .my-right .tp .add a {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #0aa379;
}
section .container .my-right .tp .add span {
  display: inline-block;
  width: 100%;
  height: 30px;
  color: #939393;
}
section .container .my-right .bt {
  width: 995px;
  min-height: 855px;
  padding: 40px 0 0 40px;
  background-color: #FFF;
}
section .container .my-right .bt .label {
  width: 100%;
  height: 100px;
}
section .container .my-right .bt .label h4,
section .container .my-right .bt .label p {
  width: 90px;
  height: 100px;
  line-height: 100px;
  float: left;
  font-size: 16px;
}
section .container .my-right .bt .label h4.le {
  padding-left: 100px;
}
section .container .my-right .bt > h3 {
  width: 90px;
  height: 100px;
  line-height: 100px;
  float: left;
  font-size: 16px;
}
section .container .my-right .bt .img {
  float: left;
  width: 900px;
  height: 500px;
}
section .container .my-right .bt .img .off {
  padding-left: 0;
}
section .container .my-right .bt .img > div {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  width: 270px;
  height: 220px;
  float: left;
  margin-right: 30px;
}
section .container .my-right .bt .img > div:hover .pic {
  display: block;
}
section .container .my-right .bt .img > div .pic {
  width: 100%;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: none;
}
section .container .my-right .bt .img > div .pic .left,
section .container .my-right .bt .img > div .pic .right {
  width: 40px;
  height: 80px;
  float: left;
  text-decoration: none;
  text-align: center;
}
section .container .my-right .bt .img > div .pic .left span,
section .container .my-right .bt .img > div .pic .right span {
  color: #FFF;
  padding-top: 20px;
  font-size: 16px;
}
section .container .my-right .bt .img > div .pic .left {
  margin: 70px 10px 0 85px;
}
section .container .my-right .bt .img > div .pic .right {
  margin: 67px 70px 0 10px;
}
section .container .my-right .bt .img > div > img {
  width: 270px;
  height: 190px;
}
section .container .my-right .bt .img > div p {
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 16px;
}
